@import url('./assets/material-symbols-subset/style.css');
@import url('./assets/fira-sans-v17-latin/style.css');

@media (prefers-color-scheme: dark) {
	body {
		color: #ffffff;
		background-color: #000028;
		color-scheme: dark;
	}
}
