@mixin properties {
	--background-color: #fff;
	--text-color: #282828;
	--text-contrast-color: #fefefe;

	--primary-color: #980c07;
	--accent-color: rgb(40, 40, 255);

	--tooltip-background-color: rgb(8, 8, 8, 0.9);

	--font-family: sans-serif;
}

@mixin propertiesDark {
	--background-color: #000028;
	--text-color: #fefefe;
}
