@use '~@public-ui/components/index' as *;

@mixin button($block-classname) {
	.#{$block-classname} {
		color: var(--text-contrast-color);
		background-color: var(--accent-color);

		&:disabled {
			opacity: 0.4;
		}

		&--primary {
			background-color: var(--primary-color);
		}
	}
}
