@use '~@public-ui/components/index' as *;

@mixin button($block-classname) {
	.#{$block-classname} {
		&:disabled {
			opacity: 0.4;
		}
		color: #fff;
		background-color: rgb(40, 40, 255);

		&--primary {
			background-color: #980c07;
		}
	}
}
