@use '~@public-ui/components/index' as *;
@use './global/properties' as *;


@layer kol-theme-global {
	// Properties
	:host {
		@include properties;

		@media (prefers-color-scheme: dark) {
			@include propertiesDark;
			color-scheme: dark;
		}

		@media (prefers-color-scheme: light) {
			color-scheme: light;
		}
      	color: inherit;

		background-color: inherit;

		font-family: var(--font-family);
		font-size: to-rem(14);
	}

	// Tooltip
	.kol-tooltip {
		&__floating {
			border-radius: 4px;
			border: 1px solid #bbb;
		}

		&__arrow {
			background-color: #bbb;

		}

		&__content {
			color: var(--text-contrast-color);
			background-color: var(--tooltip-background-color);
			border-radius: 4px;
			max-width: to-rem(400);
			padding: to-rem(6) to-rem(12);

			line-height: 1.55;
		}
	}
}
