@use '~@public-ui/components/index' as *;

@layer kol-theme-global {
	// Properties
	:host {
		--font-family: sans-serif;
	}

	// Base styles
	:host {
		font-family: var(--font-family);
		font-size: to-rem(14);
	}

	// Tooltip styles
	.kol-tooltip {
		&__floating {
			border-radius: 4px;
			border: 1px solid #bbb;
		}

		&__arrow {
			background-color: #bbb;
		}

		&__content {
			color: #000;
			background-color: #fff;
			border-radius: 4px;
			max-width: to-rem(400);
			padding: to-rem(6) to-rem(12);

			line-height: 1.55;
		}
	}
}
