name: Continue Integration

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  quality-gates:
    uses: ./.github/workflows/quality-gates.yml
